**Data Science Tools and Ecosystem**

Ejercicio 3 - Cree una celda markdown para una introducción. (1 pto)

In this notebook Data Science Tools and Ecosystem are summarized

Ejercicio 4 - Cree una celda markdown para enumerar los lenguajes de la ciencia de datos (3 ptos)

Some of the popula languages that Data Scientist use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

In [ ]:
Ejercicio 5 - Cree una celda markdown para listar bibliotecas de ciencia de datos (3 ptos)

Some of the commonly used libraries used by Data Scientists include:  
1. Pandas  
2. NumPy
3. Matplotlib
4. Seaborn
5. Scikit-learn
6. TensorFlow
7. PyTorch

Ejercicio 6 - Cree una celda markdown con una tabla de herramientas de Ciencia de Datos (3 ptos)

| Tool             | Category         |
|------------------|------------------|
| Jupyter Notebook | IDE / Notebook   |
| RStudio          | IDE              |
| Apache Spark     | Big Data Engine  |
| TensorFlow       | Deep Learning    |
| GitHub           | Code Repository  |

Ejercicio 7 - Cree una celda markdown introduciendo ejemplos de expresiones aritméticas. (1 pto)

#Ejemplos 

- Adicion: " 5 + 2 " = 7
- Subtracción: " 10 - 4 " = 6
- Multiplicación: " 3 * 4 " = 12
- División: " 12/3 " = 4

In [ ]:
Ejercicio 8 - Cree una celda de códigopara multiplicar y sumar números. (2 ptos)

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [ ]:
Ejercicio 9 - Cree una celda de código para convertir minutos en horas. (2 ptos)

In [3]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [ ]:
Ejercicio 10 -Inserte una celda de código para listar Objetivos. (3 pts)

**Objectives:**

- List popular languages for Data Science
- List commonly used libraries for Data Science
- Create tables using markdown
- Perform arithmetic operations using Python code
- Convert minutes to hours using Python code

In [ ]:
Ejercicio 11 - Cree una celda markdown para indicar el nombre del Autor. (2 ptos)

**Autor:**

Mario C.